<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed == false %>
        <img src="https://www.flaticon.com/svg/static/icons/svg/25/25235.svg" alt="">
      <% else %>
        <img src="https://toppng.com/uploads/preview/checked-checkbox-icon-checkbox-ico-115632629493xkxpf63d8.png" alt="">
      <% end %> 
      <%= link_to task.title, task_path(task)%> 
    </li>
  <% end %>
</ul>

<%= link_to  "Add a new task", new_task_path %>