// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

img {
 height: 30px;
 width: 30px;
}

li {
 list-style-type: none;
}

a {
 text-decoration: none;
}

.task-container {
 background-color: pink;
 padding: 16px;
 margin-top: 16px;
 width: 400px;
 height: max-content;
 border: solid red 2px;
 border-radius: 4px;
}

.container {
 align-items: center;
 background-color: yellow;
}